h1 {
  color:#8C90DE;
  font-family: Helvetica;
}
p {
  color:darkblue;
  font-family: Helvetica;
}

.article-body {
  background-color: #FFFDD1;
  border: 2px dotted;
  padding: 20px;
}

#footer-p {
  color: darkgray;
  font-family: Helvetica;
}

header p {
  color: gray;
}

article .article-body p {
	color: #8C90DE;
	font-family: Helvetica;
}